@font-face {
  font-family: myfont1;
  src: url(../fonts/KohinoorBangla-Regular.woff2);
}

body {
  font-family: myfont1;
  margin: 0;
  padding: 0;
}
.logo {
  margin-right: 10px;
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Maintain the aspect ratio */
}
header {
  background-color: #2a8037;
  padding-bottom: 7px;
  padding-top: 7px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
header h1 {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 25px;
  margin: 0;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 20px;
  align-items: center;
  display: flex;
}
.menu-button {
  display: none;
 
}
.menu a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
}
.cover-photo {
  padding-top: 51px;
}
.cover-photo img {
  width: 100%;
  height: auto;
  display: block;
}

.products {
  padding: 20px;
  text-align: center;
  background-color: #2a8037;
}
.products h1 {
  font-size: 35px;
  color: white;
}
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  margin: 35px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  padding: 8px;
  text-align: center;
  background-color: #ffffff;
  color: white;
  border-radius: 7px;
}

.product-item img {
  width: 190px;
  height: auto;
  border-radius: 7px;
}

.product-item h3 {
  margin: 0;
  font-size: 15px;
  font-weight: 100;
  color: #2a8037;
}
.product-item h2 {
  font-size: 20px;
  margin: 6px 0;
  font-weight: bold;
  color: #ea3696;
}
.product-item .p2 {
  margin: 0;
  font-size: 9px;
  color: #5a5e5a;
  font-family: "Inter", sans-serif;
}
.product-item p {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 18px;
  color: #2a8037;
}
.buy-now-btn {
  background-color: #2a8037;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 100%;
  border: 2px solid #2a8037;
  padding: 7px 0px;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
}
.buy-now-btn2 {
  background-color: #8f00ff;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 100%;
  border: 2px solid #8f00ff;
  padding: 7px 0px;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.buy-now-btn:hover {
  background-color: #ffffff;
  color: #2a8037;
  border: 2px solid #2a8037;
}
.buy-now-btn2:hover {
  background-color: #ffffff;
  color: #8f00ff;
  border: 2px solid #8f00ff;
}
.reviews {
  padding: 20px;
  text-align: center;
  background-color: #2a8037;
}
.reviews h1 {
  font-size: 35px;
  color: white;
}

.review-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review-item {
  font-family: "Poppins", sans-serif;
  margin: 20px;
  padding: 8px;
  width: 190px;
  text-align: center;
  background-color: #ffffff;
  color: white;
  border-radius: 7px;
  display: flex;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  flex-direction: column;
}
.profile {
  display: flex;
}
.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.user-name {
  font-size: 16px;
  color: #2a8037;
  font-weight: bold;
  margin: 0 0 5px;
}

.user-review {
  font-size: 12px;
  color: #000000;
  margin: 0;
  padding: 7px;
}
.see-more-reviews {
  margin-top: 20px;
  background-color: #ffffff;
  color: #2a8037;
  font-family: myfont1, sans-serif;
  font-weight: bold;
  width: 20%;
  border: 2px solid rgb(255, 255, 255);
  padding: 7px 0px;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}
.see-more-reviews:hover {
  background-color: #2a8037;
  color: #ffffff;

  border: 2px solid #ffffff;
}

.blogs {
  text-align: center;
  padding: 20px;
  background-color: #2a8037;
}
.blogs h1 {
  font-size: 35px;

  color: white;
}
.blogs-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blogs-item {
  width: 200px;
  margin: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  padding: 8px;
  text-align: center;
  background-color: #ffffff;
  color: white;
  border-radius: 7px;
}

.blogs-item img {
  width: 200px;
  height: auto;
  border-radius: 7px;
}

.blogs-item h2 {
  font-size: 20px;
  margin: 6px 0;
  font-weight: bold;
  color: #2a8037;
}
.blogs-item h5 {
  color: #ea3696;
  font-size: 10px;
  margin: 0;
}

.blogs-item p {
  padding: 12px;
  text-align: left;
  font-size: 13px;
  color: #000000;
  margin: 0;
}
.buy-now-btn {
  background-color: #2a8037;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 100%;
  border: 2px solid #2a8037;
  padding: 7px 0px;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
}
.buy-now-btn2 {
  background-color: #8f00ff;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 100%;
  border: 2px solid #8f00ff;
  padding: 7px 0px;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.buy-now-btn:hover {
  background-color: #ffffff;
  color: #2a8037;
  border: 2px solid #2a8037;
}
.buy-now-btn2:hover {
  background-color: #ffffff;
  color: #8f00ff;
  border: 2px solid #8f00ff;
}
.contact {
  text-align: center;
  padding: 20px;
  font-family: myfont1, sans-serif;
  font-weight: 500;
  font-size: 15px;
  background-color: #2a8037;
  color: #2a8037;
}
.contact button {
  background-color: #8f00ff;
  color: white;
  font-family: myfont1, sans-serif;
  font-weight: 500;
  width: 100%;
  border: 2px solid #8f00ff;
  padding: 7px 0px;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact button:hover {
  background-color: #ffffff;
  color: #2a8037;
  border: 2px solid #2a8037;
}

.contact h1 {
  font-size: 35px;
  font-weight: 600;
  color: white;
}
.d {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 35px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  margin: 0;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
footer {
  font-family: "Poppins", sans-serif;
  background-color: #2a8037;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Mobile Optimization */
@media (max-width: 768px) {
  .menu {
    margin: 10px;
  }
  .menu img {
    width: 26px;
    height: 26px;
  }
  .menu h1 {
    font-size: 17px;
  }
  .menu .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
    margin-left: 20px;
  }
  .cover-photo {
    padding-top: 64px;
  }
  .product-grid {
    flex-direction: column;
    align-items: center;
  }

  .product-item img {
    width: 100%;
  }
  .review-grid {
    flex-direction: column;
    align-items: center;
  }
  .blogs-grid {
    flex-direction: column;
    align-items: center;
  }

  .blogs-item img {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
